{{ define "main" }}

<style>
.title-back {
    background-color: #116b00;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2320b64f' fill-opacity='0.8' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.text-shadow {
  text-shadow: 2px 2px #222;
}
a {
  transition: .2s;
}
</style>

<style>
.contact-image-background {
  background-image: url("{{ .Site.Params.tracking.cloudinary_url }}{{ .Page.Params.hero_section.image }}");
}
</style>

<section id="about" class="flex flex-wrap">
    <div class="w-full mx-auto bg-cover bg-bottom bg-no-repeat contact-image-background">
        <div class="py-32 sm:py-56"></div>
    </div>
</section>

<section class="flex flex-wrap -mt-56">
    <div class="w-2/3 mx-auto">
        <div class="py-5 title-back">
            <h2 class="font-euro text-3xl md:text-4xl lg:text-6xl text-center font-black text-white leading-tight uppercase text-shadow">{{ .Page.Params.hero_section.title }}</h2>
        </div>
    </div>
    <div class="flex flex-wrap items-start w-full bg-white mx-auto text-center">
        <div class="flex flex-wrap items-start w-full md:w-1/3 lg:w-1/5">
            <div class="flex flex-wrap w-full bg-gray-200 p-4">
                <div class="flex items-start w-auto lg:w-11/12 text-center mx-auto lg:text-center">
                    <i class="text-xl opacity-25 p-1 fas fa-map-marker-alt"></i><p class="font-work text-sm">Mill Creek Construction <br> {{ .Site.Data.global_data.address.street }} <br> {{ .Site.Data.global_data.address.city }}, {{ .Site.Data.global_data.address.state }} {{ .Site.Data.global_data.address.zip }}</p>
                </div>
            </div>
            <div class="flex flex-wrap w-full bg-gray-100 p-4">
                <div class="flex items-center w-auto lg:w-11/12 text-center mx-auto lg:text-center">
                    <i class="text-xl opacity-25 p-1 fas fa-envelope"></i><p class="font-work text-sm">{{ .Site.Data.global_data.email.email }}</p>
                </div>
            </div>
            <div class="flex flex-wrap w-full bg-gray-200 p-4">
                <div class="flex items-center w-auto lg:w-11/12 text-center mx-auto lg:text-center">
                    <i class="text-xl opacity-25 p-1 fas fa-phone"></i><p class="font-work text-sm">{{ .Site.Data.global_data.contact_numbers.phone }}</p>
                </div>
            </div>
        </div>
        <div class="w-4/5 md:w-2/3 lg:w-4/5 mx-auto text-left md:px-12">
        <p class="font-work text-base lg:text-xl font-thin pt-12 pb-24">{{ .Page.Params.form_section.before_form_text }}</p>
        <section class="flex flex-wrap pb-24">
            <h2 class="w-full font-euro text-3xl md:text-4xl font-black leading-tight uppercase pb-12">{{ .Page.Params.form_section.title }}</h2>
            <form class="flex flex-wrap w-full mx-auto" action="/thank-you/" netlify-honeypot="field-for-coolguys" name="" method="POST" netlify>
                <input type="hidden" name="subject" value="New Submission from Website" />
                <div class="flex flex-wrap w-full lg:w-1/3 pb-4">
                    <label class="w-full font-work text-lg">Full Name*</label>
                    <input name="full-name" type="text" placeholder="Your name" class="w-11/12 font-work text-sm border-4 hover:border-color-345e37 focus:border-color-345e37 mr-auto p-2" required>
                </div>
                <div class="flex flex-wrap w-full lg:w-1/3 pb-4">
                    <label class="w-full font-work text-lg">Email*</label>
                    <input name="email" type="email" placeholder="Your email" class="w-11/12 font-work text-sm border-4 hover:border-color-345e37 focus:border-color-345e37 mr-auto p-2" required>
                </div>
                <div class="flex flex-wrap w-full lg:w-1/3 pb-4">
                    <label class="w-full font-work text-lg">Phone Number*</label>
                    <input name="phone" type="tel" placeholder="Your phone number" class="w-11/12 font-work text-sm border-4 hover:border-color-345e37 focus:border-color-345e37 mr-auto p-2" required>
                </div>
                <div class="flex flex-wrap w-full pt-3 lg:pt-5">
                    <label class="w-full font-work text-lg">Service Needed*</label>
                    <select class="w-full bg-white font-work text-base border-4 hover:border-color-345e37 focus:border-color-345e37 mr-6 p-2">
                        {{ range (where .Site.Pages "Type" "services" )}}
                        <option value="{{ .Title }}">{{ .Title }}</option>
                        {{ end }}
                    </select>
                </div>
                <div class="flex flex-wrap w-full py-5">
                    <label class="w-full font-work text-lg">About your project</label>
                    <textarea name="email" type="email" placeholder="Tell us more about your project." class="w-full h-32 font-work text-sm border-4 hover:border-color-345e37 focus:border-color-345e37 mr-6 p-2"></textarea>
                </div>
                <input type="text" name="field-for-coolguys" style="display:none" />
                <div class="">
                    <input type="submit" value="Submit" class="bg-color-345e37 font-work text-sm md:text-lg text-white font-bold mx-auto p-3 uppercase shadow-lg hover:bg-color-2b4e2d hover:cursor-pointer">
                </div>
            </form>
        </section>
        </div>
    </div>
    <div class="py-72 b-white"></div>
</section>
{{ end }}