<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
    <head>
        <meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {{ partial "head/siteMeta.html" . }}
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        {{ partial "head/robots.html" . }}
        {{ partial "head/faviCode.html" . }}
        {{ partial "head/globalStyle.html" . }}
        {{ partial "head/rss.html" . }}
        {{ partial "head/fontAwesome.html" . }}
        {{ partial "head/googleAnalytics.html" . }}
    </head>

    <link rel="stylesheet" href="https://use.typekit.net/geq3pbb.css">

{{ partial "head/siteSchema" . }}

<body class="body-wrapper {{ .Param "page_status" }}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBMP35X"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{{ block "header" . }}{{ partial "header.html" . }}{{ end }}

<main role="main">
{{ block "main" . }}{{ end }}
</main>

{{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}

{{ block "scripts" . }}{{ partial "siteScripts.html" . }}{{ end }}

</body>
</html>